# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vagrant


tlpi-book/acl/acl_update
tlpi-book/acl/acl_view
tlpi-book/altio/demo_sigio
tlpi-book/altio/epoll_flags_fork
tlpi-book/altio/epoll_input
tlpi-book/altio/multithread_epoll_wait
tlpi-book/altio/poll_pipes
tlpi-book/altio/select_mq
tlpi-book/altio/self_pipe
tlpi-book/altio/t_select
tlpi-book/cap/cap_launcher
tlpi-book/cap/cap_text
tlpi-book/cap/check_password_caps
tlpi-book/cap/demo_file_caps
tlpi-book/cap/show_secbits
tlpi-book/cap/t_cap_get_file
tlpi-book/cap/t_cap_get_pid
tlpi-book/cap/t_cap_set_file
tlpi-book/daemons/daemon_SIGHUP
tlpi-book/daemons/t_syslog
tlpi-book/daemons/test_become_daemon
tlpi-book/dirs_links/bad_symlink
tlpi-book/dirs_links/file_type_stats
tlpi-book/dirs_links/list_files
tlpi-book/dirs_links/list_files_readdir_r
tlpi-book/dirs_links/nftw_dir_tree
tlpi-book/dirs_links/t_dirbasename
tlpi-book/dirs_links/t_unlink
tlpi-book/dirs_links/view_symlink
tlpi-book/filebuff/direct_read
tlpi-book/filebuff/mix23_linebuff
tlpi-book/filebuff/mix23io
tlpi-book/filebuff/write_bytes
tlpi-book/filebuff/write_bytes_fdatasync
tlpi-book/filebuff/write_bytes_fsync
tlpi-book/filebuff/write_bytes_o_sync
tlpi-book/fileio/atomic_append
tlpi-book/fileio/bad_exclusive_open
tlpi-book/fileio/copy
tlpi-book/fileio/large_file
tlpi-book/fileio/multi_descriptors
tlpi-book/fileio/seek_io
tlpi-book/fileio/t_readv
tlpi-book/fileio/t_truncate
tlpi-book/filelock/i_fcntl_locking
tlpi-book/filelock/t_flock
tlpi-book/files/chiflag
tlpi-book/files/t_chown
tlpi-book/files/t_stat
tlpi-book/files/t_umask
tlpi-book/files/t_utime
tlpi-book/files/t_utimes
tlpi-book/filesys/t_mount
tlpi-book/filesys/t_statfs
tlpi-book/filesys/t_statvfs
tlpi-book/filesys/t_umount
tlpi-book/getopt/t_getopt
tlpi-book/inotify/demo_inotify
tlpi-book/inotify/dnotify
tlpi-book/inotify/inotify_dtree
tlpi-book/inotify/rand_dtree
tlpi-book/lib/ename.c.inc
tlpi-book/loginacct/dump_utmpx
tlpi-book/loginacct/utmpx_login
tlpi-book/loginacct/view_lastlog
tlpi-book/memalloc/free_and_sbrk
tlpi-book/mmap/anon_mmap
tlpi-book/mmap/mmcat
tlpi-book/mmap/mmcopy
tlpi-book/mmap/t_mmap
tlpi-book/mmap/t_remap_file_pages
tlpi-book/pgsjc/catch_SIGHUP
tlpi-book/pgsjc/disc_SIGHUP
tlpi-book/pgsjc/handling_SIGTSTP
tlpi-book/pgsjc/job_mon
tlpi-book/pgsjc/orphaned_pgrp_SIGHUP
tlpi-book/pgsjc/t_setsid
tlpi-book/pipes/change_case
tlpi-book/pipes/fifo_seqnum_client
tlpi-book/pipes/fifo_seqnum_server
tlpi-book/pipes/pipe_ls_wc
tlpi-book/pipes/pipe_sync
tlpi-book/pipes/popen_glob
tlpi-book/pipes/simple_pipe
tlpi-book/pmsg/mq_notify_sig
tlpi-book/pmsg/mq_notify_sigwaitinfo
tlpi-book/pmsg/mq_notify_thread
tlpi-book/pmsg/mq_notify_via_signal
tlpi-book/pmsg/mq_notify_via_thread
tlpi-book/pmsg/pmsg_create
tlpi-book/pmsg/pmsg_getattr
tlpi-book/pmsg/pmsg_receive
tlpi-book/pmsg/pmsg_send
tlpi-book/pmsg/pmsg_unlink
tlpi-book/proc/bad_longjmp
tlpi-book/proc/display_env
tlpi-book/proc/longjmp
tlpi-book/proc/modify_env
tlpi-book/proc/necho
tlpi-book/proc/setjmp_vars
tlpi-book/proc/t_getenv
tlpi-book/proccred/idshow
tlpi-book/procexec/acct_on
tlpi-book/procexec/acct_v3_view
tlpi-book/procexec/acct_view
tlpi-book/procexec/child_status
tlpi-book/procexec/closeonexec
tlpi-book/procexec/demo_clone
tlpi-book/procexec/envargs
tlpi-book/procexec/exit_handlers
tlpi-book/procexec/footprint
tlpi-book/procexec/fork_file_sharing
tlpi-book/procexec/fork_sig_sync
tlpi-book/procexec/fork_stdio_buf
tlpi-book/procexec/fork_whos_on_first
tlpi-book/procexec/make_zombie
tlpi-book/procexec/multi_SIGCHLD
tlpi-book/procexec/multi_wait
tlpi-book/procexec/orphan
tlpi-book/procexec/pdeath_signal
tlpi-book/procexec/t_clone
tlpi-book/procexec/t_execl
tlpi-book/procexec/t_execle
tlpi-book/procexec/t_execlp
tlpi-book/procexec/t_execve
tlpi-book/procexec/t_fork
tlpi-book/procexec/t_system
tlpi-book/procexec/t_vfork
tlpi-book/procexec/vfork_fd_test
tlpi-book/procpri/demo_sched_fifo
tlpi-book/procpri/sched_set
tlpi-book/procpri/sched_view
tlpi-book/procpri/t_sched_getaffinity
tlpi-book/procpri/t_sched_setaffinity
tlpi-book/procpri/t_setpriority
tlpi-book/procres/rlimit_nproc
tlpi-book/procres/rusage
tlpi-book/procres/rusage_wait
tlpi-book/progconc/syscall_speed
tlpi-book/psem/psem_create
tlpi-book/psem/psem_getvalue
tlpi-book/psem/psem_post
tlpi-book/psem/psem_timedwait
tlpi-book/psem/psem_trywait
tlpi-book/psem/psem_unlink
tlpi-book/psem/psem_wait
tlpi-book/psem/thread_incr_psem
tlpi-book/pshm/pshm_create
tlpi-book/pshm/pshm_read
tlpi-book/pshm/pshm_unlink
tlpi-book/pshm/pshm_write
tlpi-book/pty/script
tlpi-book/pty/unbuffer
tlpi-book/shlibs/dynload
tlpi-book/signals/catch_rtsigs
tlpi-book/signals/demo_SIGFPE
tlpi-book/signals/ignore_pending_sig
tlpi-book/signals/intquit
tlpi-book/signals/nonreentrant
tlpi-book/signals/ouch
tlpi-book/signals/sig_receiver
tlpi-book/signals/sig_sender
tlpi-book/signals/sig_speed_sigsuspend
tlpi-book/signals/sigmask_longjmp
tlpi-book/signals/sigmask_siglongjmp
tlpi-book/signals/signalfd_sigval
tlpi-book/signals/t_kill
tlpi-book/signals/t_sigaltstack
tlpi-book/signals/t_sigqueue
tlpi-book/signals/t_sigsuspend
tlpi-book/signals/t_sigwaitinfo
tlpi-book/sockets/i6d_ucase_cl
tlpi-book/sockets/i6d_ucase_sv
tlpi-book/sockets/id_echo_cl
tlpi-book/sockets/id_echo_sv
tlpi-book/sockets/is_echo_cl
tlpi-book/sockets/is_echo_inetd_sv
tlpi-book/sockets/is_echo_sv
tlpi-book/sockets/is_echo_v2_sv
tlpi-book/sockets/is_seqnum_cl
tlpi-book/sockets/is_seqnum_sv
tlpi-book/sockets/is_seqnum_v2_cl
tlpi-book/sockets/is_seqnum_v2_sv
tlpi-book/sockets/list_host_addresses
tlpi-book/sockets/scm_cred_recv
tlpi-book/sockets/scm_cred_send
tlpi-book/sockets/scm_multi_recv
tlpi-book/sockets/scm_multi_send
tlpi-book/sockets/scm_rights_recv
tlpi-book/sockets/scm_rights_send
tlpi-book/sockets/socknames
tlpi-book/sockets/t_gethostbyname
tlpi-book/sockets/t_getservbyname
tlpi-book/sockets/ud_ucase_cl
tlpi-book/sockets/ud_ucase_sv
tlpi-book/sockets/us_abstract_bind
tlpi-book/sockets/us_xfr_cl
tlpi-book/sockets/us_xfr_sv
tlpi-book/sockets/us_xfr_v2_cl
tlpi-book/sockets/us_xfr_v2_sv
tlpi-book/svipc/svmsg_demo_server
tlpi-book/svipc/t_ftok
tlpi-book/svmsg/svmsg_chqbytes
tlpi-book/svmsg/svmsg_create
tlpi-book/svmsg/svmsg_file_client
tlpi-book/svmsg/svmsg_file_server
tlpi-book/svmsg/svmsg_info
tlpi-book/svmsg/svmsg_ls
tlpi-book/svmsg/svmsg_receive
tlpi-book/svmsg/svmsg_rm
tlpi-book/svmsg/svmsg_send
tlpi-book/svsem/svsem_create
tlpi-book/svsem/svsem_demo
tlpi-book/svsem/svsem_info
tlpi-book/svsem/svsem_mon
tlpi-book/svsem/svsem_op
tlpi-book/svsem/svsem_rm
tlpi-book/svsem/svsem_setall
tlpi-book/svshm/svshm_attach
tlpi-book/svshm/svshm_create
tlpi-book/svshm/svshm_info
tlpi-book/svshm/svshm_lock
tlpi-book/svshm/svshm_mon
tlpi-book/svshm/svshm_rm
tlpi-book/svshm/svshm_unlock
tlpi-book/svshm/svshm_xfr_reader
tlpi-book/svshm/svshm_xfr_writer
tlpi-book/sysinfo/procfs_pidmax
tlpi-book/sysinfo/procfs_user_exe
tlpi-book/sysinfo/t_uname
tlpi-book/syslim/t_fpathconf
tlpi-book/syslim/t_sysconf
tlpi-book/threads/detached_attrib
tlpi-book/threads/one_time_init
tlpi-book/threads/prod_condvar
tlpi-book/threads/prod_no_condvar
tlpi-book/threads/pthread_barrier_demo
tlpi-book/threads/simple_thread
tlpi-book/threads/thread_cancel
tlpi-book/threads/thread_cleanup
tlpi-book/threads/thread_incr
tlpi-book/threads/thread_incr_mutex
tlpi-book/threads/thread_incr_rwlock
tlpi-book/threads/thread_incr_spinlock
tlpi-book/threads/thread_lock_speed
tlpi-book/threads/thread_multijoin
tlpi-book/time/calendar_time
tlpi-book/time/process_time
tlpi-book/time/show_time
tlpi-book/time/strtime
tlpi-book/timers/clock_times
tlpi-book/timers/cpu_burner
tlpi-book/timers/cpu_multi_burner
tlpi-book/timers/cpu_multithread_burner
tlpi-book/timers/demo_timerfd
tlpi-book/timers/ptmr_null_evp
tlpi-book/timers/ptmr_sigev_signal
tlpi-book/timers/ptmr_sigev_thread
tlpi-book/timers/real_timer
tlpi-book/timers/t_clock_nanosleep
tlpi-book/timers/t_nanosleep
tlpi-book/timers/timed_read
tlpi-book/tty/demo_SIGWINCH
tlpi-book/tty/new_intr
tlpi-book/tty/no_echo
tlpi-book/tty/test_tty_functions
tlpi-book/users_groups/check_password
tlpi-book/users_groups/t_getpwent
tlpi-book/users_groups/t_getpwnam_r
tlpi-book/vdso/syscall_gettimeofday
tlpi-book/vdso/vdso_gettimeofday
tlpi-book/vmem/madvise_dontneed
tlpi-book/vmem/memlock
tlpi-book/vmem/t_mprotect
tlpi-book/xattr/t_setxattr
tlpi-book/xattr/xattr_view
